<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <div class="list-group">
        <a href="/ideal" class="list-group-item list-group-item-action">
          <img
            src="https://www.paypalobjects.com/images/checkout/latinum/Altpay_logo_iDEAL.svg"
          />
          Ideal
        </a>
        <a href="/eps" class="list-group-item list-group-item-action">
          <img
            src="https://www.paypalobjects.com/images/checkout/latinum/Altpay_logo_eps.svg"
          />
          Eps</a
        >

        <a href="/blik" class="list-group-item list-group-item-action">
          <img
            src="https://www.paypalobjects.com/images/checkout/latinum/Altpay_logo_blik.svg"
          />
          Blik</a
        >
        <a href="/bancontact" class="list-group-item list-group-item-action"
          ><img
            src="https://www.paypalobjects.com/images/checkout/latinum/Altpay_logo_bancontact.svg"
          />
          Bancontact</a
        >
        <a href="/giropay" class="list-group-item list-group-item-action">
          <img
            src="https://www.paypalobjects.com/images/checkout/latinum/Altpay_logo_giropay.svg"
          />
          Giropay</a
        >

        <a href="/mybank" class="list-group-item list-group-item-action"
          ><img
            src="https://www.paypalobjects.com/images/checkout/latinum/Altpay_logo_mybank.svg"
            class="css-1bsffhg-Logo e3njp081"
          />
          MyBank</a
        >

        <a href="/p24" class="list-group-item list-group-item-action">
          <img
            src="https://www.paypalobjects.com/images/checkout/latinum/Altpay_logo_eps.svg"
            class="css-1bsffhg-Logo e3njp081"
          />
          P24</a
        >

        <a href="/trustly" class="list-group-item list-group-item-action">
          <img
            src="https://www.paypalobjects.com/images/checkout/latinum/Altpay_logo_trustly.svg"
          />
          Trustly</a
        >

        <a href="/verkkopankki" class="list-group-item list-group-item-action">
          <img
            src="https://www.paypalobjects.com/images/checkout/latinum/Altpay_logo_verkkopankki.svg"
          />
          Verkkopankki</a
        >
        <a href="/sofort" class="list-group-item list-group-item-action">
          <img
            src="https://www.paypalobjects.com/images/checkout/latinum/Altpay_logo_sofort.svg"
          />
          Sofort</a
        >
      </div>
    </div>
  </body>
</html>
