<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/sofort.css" />
  </head>
  <!--
  <script src="https://localhost.paypal.com:8443/sdk/js?client-id=AYLa6UCw47Baut1LJ3TojVJBDe8ZkzAutZjWP7fVOCafaJ8em97GrHFW7EJXKcMjGcueM-R_AFa-cadq&debug=true&components=buttons,fields,marks&buyer-country=NL"></script>
-->

  <script src="https://www.msmaster.qa.paypal.com/sdk/js?client-id=AYLa6UCw47Baut1LJ3TojVJBDe8ZkzAutZjWP7fVOCafaJ8em97GrHFW7EJXKcMjGcueM-R_AFa-cadq&debug=true&components=buttons,fields,marks&buyer-country=NL"></script>

  <script>
    console.log('PayPal SDK version:', paypal.version)
  </script>

  <body>
    <h3>Enter payment method</h3>
    <br />

    <label>
      <input
        type="radio"
        name="payment-option"
        value="paypal"
        id="paypal-radio"
        checked
      />
      <span id="paypal-mark"></span>
    </label>

    <label>
      <input
        id="sofort-radio"
        value="sofort"
        name="payment-option"
        type="radio"
      />
      <span id="sofort-mark"></span>
    </label>

    <div id="sofort-container"></div>

    <div id="paypal-btn"></div>
    <div id="ideal-btn"></div>
    <div id="sofort-btn"></div>

    <script src="/sofort.js"></script>
  </body>
</html>
