.ppstyle {
  background-color: #0070ba;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  font-size: medium;
}
div.form {
  display: block;
  text-align: left;
}
form {
  padding: 10px;
}
input[type='checkbox'] {
  transform: scale(1.5);
}
img {
  padding-left: 10px;
  padding-right: 5px;
}
.form {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.apm {
  padding: 5px;
}
